.public-session {
  margin: 30px auto;
  width: 60%;
}

.public-session-title h5{
  display: inline-block;
  padding: 0 20px;
  margin-bottom: 30px;
  background-color: #EEEEEE;
}

.public-session-form {
  width: 90%;
  margin: 0 auto;
}

.public-session-form h6{
  display: inline-block;
  padding: 0 20px;
  margin-bottom: 30px;
  background-color: #EEEEEE;
}

.public-session-table {
  width: 80%;
  margin: 0 auto;
}

.public-session-field td {
  padding-right: 50px;
  padding-bottom: 10px;
}

.public-session-actions td {
  padding: 20px 0 50px 0;
}

.public-session-link {
  width: 500px;
  margin: 0 auto;
}