<div class="container mt-5">
  <div class="row">
    <div class="col-lg-2 col-md-3 bg-light text-center">
     <h5>商品詳細</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <%= image_tag "no_image.jpg", size: "10×10" %>
    </div>

    <div class="col-lg-6">
      <table>
        <tr>
          <th>商品名</th>
          <td><%# @item.item_name %></td>
        </tr>
        <tr>
          <th>商品説明</th>
          <td><%# @item.item_introdction %></td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td><%# @item.genre %></td>
        </tr>
        <tr>
          <th>税抜価格</th>
          <td><%# @item.tax_ecluded_price %></td>
        </tr>
        <tr>
          <th>販売ステータス</th>
          <td><%# @item.sales_status %></td>
        </tr>
      </table>
      <%= link_to admin_items_new_path do %>
      <button class="btn btn-success btn-md">
      編集する
      </button>
      <% end %>
    </div>
  </div>