<div class="top">
  <div class="top-text">
    ようこそ、ながのCAKEへ!</br>
    このサイトは、ケーキ販売のECサイトになります。</br>
    会員でない方も商品の閲覧はできますが、</br>
    購入には会員登録が必要になります。</br>
  </div>

  <div class="top-nav">
    <h2><b>新着商品</b></h2>
    <div class="top-items">
      <% @items.first(4).each do |item| %>
        <div class="top-item">
          <p><%= image_tag item.image, size: "200x200" %></p>
          <p><%= item.item_name %></p>
          <p>¥<%= item.tax_excluded_price %></p>
        </div>
      <% end %>
    </div>

    <div class="top-item-link">
      <%= link_to "全ての商品を見る >", items_path %>
    </div>
  </div>

</div>