<html>
    <head>
        
    </head>
    <body>
        <h1>会員一覧</h1>
        <table>
            <thead>
                <th>
                    <strong>会員ID</strong>
                </th>
                <th>
                    <strong>氏名</strong>
                </th>
                <th>
                    <strong>メールアドレス</strong>
                </th>
                <th>
                    <strong>ステータス</strong>
                </th>
            </thead>
            <tbody>
                <tb>
                    1
                </tb>
                <tb>
                    山田花子
                </tb>
                <tb>
                    @examle.com
                </tb>
                <tb>
                    有効
                </tb>
            </tbody>
        </table>
    </body>
</html>