<div class="genre-edit">
  <h5>ジャンル編集</h5>

  <%= form_with model: [:admin, @genre], method: :patch do |f| %>
    <table>
      <tr>
        <td class="form-group">
          <b><%= f.label :ジャンル名 %></b>
        </td>
        <td class="form-group">
          <%= f.text_field :name, class:  "form-control genre_name" %>
        </td>
        <td class="form-group">
          <%= f.submit '変更を保存', class: "btn btn-success" %>
        </td>
      </tr>
    </table>
  <% end %>
</div>