// Place all the styles related to the admin/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.admin-sign-in {
  margin: 30px auto;
  width: 60%;
}

.admin-sign-in-title {
  display: inline-block;
  padding: 0;
  margin-bottom: 50px;
  background-color: #EEEEEE;
}

.admin-sign-in-title h5{
  margin: 0 20px;
}

.admin-sign-in-table{
  width: 70%;
  margin: 0 auto;
}

.field td{
  padding-right: 50px;
}

.actions td{
  width: 100px;
  padding-left: 200px;
}

// せめて入力する枠線の下にログインボタンを配置したい。
// メールアドレスと枠線の間が空きすぎ