<div class="container my-5">
  <div class="row my-5">
    <div class="col-sm-12 col-md-8 px-5 px-sm-0 my-5 mx-auto offset-1 text-center">
      <div class="my-5">
        <h3>
          <strong>
            ご注文ありがとうございました！
          </strong>
        </h3>
      </div>
    </div>
  </div>
</div>