<table class="table table-hover table-borderless">
  <thead>
    <th>ジャンル検索</th>
  </thead>
  <tbody>
    <% genres.each do |genre| %>
    <tr>
      <td>
       <%= link_to public_items_genre_path(genre.id) do %>
        <%= genre.name %>
       <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>